# Tweet Sentiment Analysis with BERT

Performing sentimetn analysis using BERT (fine-tuning)

In [1]:
import pandas as pd

In [2]:
# read the data
data = pd.read_csv('data/data.csv')

# preview the ddata
data.head()

,sentiment,message,tweetid
0,-1,@tiniebeany climate change is an interesting h...,792927353886371840
1,1,RT @NatGeoChannel: Watch #BeforeTheFlood right...,793124211518832641
2,1,Fabulous! Leonardo #DiCaprio's film on #climat...,793124402388832256
3,1,RT @Mick_Fanning: Just watched this amazing do...,793124635873275904
4,2,"RT @cnalive: Pranita Biswasi, a Lutheran from ...",793125156185137153

# Please save your data in the `data` folder